#bazaar data
*/10 0-4,7-23 * * * /usr/bin/sh /home/pi/updateScrap.sh

45 5 * * * /usr/bin/sh /home/pi/dailyScrap.sh


#war data
#*/10 * * * * /usr/bin/sh /home/pi/warStats.sh

#*/30 * * * * /usr/bin/sh /home/pi/updateWar.sh
#0 * * * * /usr/bin/sh /home/pi/updateWar.sh
#0 */2 * * * /usr/bin/sh /home/pi/updateWar.sh
#0 0-21/3 * * * /usr/bin/sh /home/pi/updateWar.sh
#30 1-22/3 * * * /usr/bin/sh /home/pi/updateWar.sh

25 5 * * * /usr/bin/sh /home/pi/dailyXP.sh