#bazaar data:

*/10 0-4,9-23 * * * /usr/bin/sh /home/pi/updateScrap.sh
20 5 * * * /usr/bin/sh /home/pi/dailyScrap.sh


#war data:
*/10 0-4,9-23 * * * /usr/bin/sh /home/pi/warStats.sh
*/30 0-4,9-23 * * * /usr/bin/sh /home/pi/updateWar.sh
20 5 * * * /usr/bin/sh /home/pi/dailyWar.sh